
  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  h3,h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: deeppink !important;

  }
  
  .live-show {
       padding: 70px 0px 2px 0px;
       text-align: center;
  }     

  .container {
      padding: 20px 20px;
  }
    
  .navbar{
      /*font-family: Montserrat, sans-serif;*/
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: deeppink !important;
  }
  .navbar-brand {
      color: deeppink !important;
 }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
    color: #555 !important;
    font-size: 11px !important;


  } 
    
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 45px; 
      }
.agenda .agenda-date .shortdate {
  font-size: .80em; 
}
.agenda .agenda-time { width: 100px; } 

  .modal-header-login,.modal-header-login h4,.close {
      background-color: dimgrey;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {background-color: #eee;}

  
    
.calender , .local_events {
      padding: 20px 20px;
  }

.month {
    padding: 50px 25px;
    width: 100%;
    background:grey;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background:grey;
    color: white !important
}

@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}


        .page-footer li a:hover {
            color: white;
        }