/* Styling for html document */   
  body {
      font: 400 15px/1.8 Lato, sans-serif;
  }
  h3, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: deeppink !important;

  }
  .container {
      padding: 10px 20px;
  }

/* Styling for navigation */
  .navbar{
      /*font-family: Montserrat, sans-serif;*/
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: deeppink !important;
  }
  .navbar-brand {
      color: deeppink !important;
 }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
    color: #555 !important;
    font-size: 11px !important;
  }
    
.submit-button {
  margin-top: 10px;
}  
  .rsvp {
       padding: 0px 0px 2px 0px;
       text-align: center;
  }     
    .col-md-8,.col-md-4{
        text-align:left;
    }
     
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 60px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 45px; 
      }
.agenda .agenda-date .shortdate {
  font-size: .80em; 
}
.agenda .agenda-time { width: 100px; }    
.page-footer li a:hover {color: white;}

  }
    .rsvp_homepage{
        margin: 0px 0 0px 0;
      letter-spacing: 10px;      
      font-size: 20px;
    }